.primaryText {
  font-weight: 600;
  font-size: 32px;
  line-height: 37.34px;
}

.detailText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.iconWithText {
  padding: 0rem 3rem;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.icon {
  width: 22px;
  height: 22px;
  color: #5D729E;
}

.banner {
  position: center;
  width: 100%;
  height: 141px;
  background-image: url('../../public/images/AltruistBanner.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
}

.contentHeader {
  font-weight: 600;
  font-size: 24px;
  line-height: 32.02px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}

.contentDetailText {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 20px;
}

.addressButtonContainer {
  display: flex;
  justify-content: end;
}