.App {
  width: 100vw;
  height: 100vh;
}

.cardContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.cardPrimaryText {
  color: #75787B;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%; /* 1.6875rem */
}

.cardSecondaryText {
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.moneyToUse {
  color: #495057;
  font-size: 2rem;
  font-weight: 600;
  line-height: 116.7%; /* 2.334rem */
  text-align: center;
}

.modalHeader {
  display: flex;
  justify-content: end;
}

.exitIcon {
  cursor: pointer;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  background-color: #60BE64;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.gapText {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}

.amountHeader {
  display: flex;
}

.dollarSign {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0175rem;
}

.amountNumber {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 116.7%;
}

.month {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  text-align: right;
  align-self: end;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modalHeaderText {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 133.4%; /* 2.001rem */
  letter-spacing: 0.01563rem;
  margin: 1rem 0rem;
}

.modalSecondaryText {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  margin-bottom: 1rem;
}

.modalNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.backButton {
  display: flex;
  align-items: center;
}

.arrowForward {
  display: flex;
  color: #495057;
  width: 3.14519rem;
  height: 3.14519rem;
  padding: 0.24194rem 0.48388rem;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.concernedButtonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}

.concernedButtonGroup button {
  border: 1.5px solid #F1F1F1;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  flex-grow: 1;
  height: 3.8rem;
}

.concernedButtonGroup button:hover {
  border: 1.5px solid #A3A7AA;
  background-color: #F1F1F1;
  color: black;
}

.optionContainer {
  display: flex;
  border: 1.5px solid #F1F1F1;
  padding: 1.25rem;
  border-radius: 6px;
}

.optionContainer:hover {
  background-color: #F1F1F1;
  border: 1px solid #A3A7AA;
  cursor: pointer;
}

.optionInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionHeader {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%; /* 1.6875rem */
  margin-right: 30px;
}

.optionDetails {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.optionArrowIcon {
  align-self: center;
  margin-left: auto;
  margin-right: 10px;
}

.optionBottomText {
  display: flex;
  gap: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.recommendedBadge {
  color: #3498DB;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2%;
  align-self: center;
  background-color: #F0F4F8;
  padding: 6px 10px;
  border-radius: 6px;
}

.schedulerTile {
  display: flex;
  background-color: #E4F0FF;
  border: 1.5px solid #BAC8E5;
  padding: 16px;
  border-radius: 5px;
}

.schedulerTileContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.schedulerTileHeader {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}

.schedulerTileText {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}